.card-img-top {
    max-height: 200px;
}

.btn-group {
    width: 100%;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
    width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
    left: auto;
}

.infoUl > li > span {
    text-align: right;
}
.col-8, .col-4{
    height: calc(100vh - 56px);
    overflow-y: scroll;
}
.badge{
    background-color: #dbdbdb;
    color: black;
    font-size: 16px;
  padding: 4px;
}
.capitalize{
    text-transform: capitalize
}
table{
    border-bottom: 1px solid #CACACA;
}
.productsListModal{
    max-height: 30vh;
    overflow: auto;
}
#cart{
    visibility: hidden;
}
.modal-lg{
    max-width: 90%;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cssload-container{
    position:relative;
    width:100%;
    top: 50%;
    transform: translateY(-50%);
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 2123px;
    -o-border-radius: 2123px;
    -ms-border-radius: 2123px;
    -webkit-border-radius: 2123px;
    -moz-border-radius: 2123px;
}

.cssload-whirlpool {
    margin: -53px 0 0 -53px;
    height: 106px;
    width: 106px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -49px 0 0 -49px;
    height: 94px;
    width: 94px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -62px 0 0 -62px;
    height: 119px;
    width: 119px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}
